body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

#contatore {
    text-align: center;
    font-size: 32px; /* Aumenta la dimensione del font */
}

#contatore p {
    margin: 20px 0;
}
